click==7.1.2
decorator==4.4.2
Flask==2.0.1
fond4ltlfpltlf @ git+https://github.com/whitemech/fond4ltlfpltlf.git@develop
graphviz==0.16
itsdangerous==2.0.1
Jinja2==3.0.1
lark-parser==0.11.3
MarkupSafe==2.0.1
mpmath==1.2.1
networkx==2.5.1
ply==3.11
pydot==1.4.2
pyparsing==2.4.7
sympy==1.8
Werkzeug==2.2.3
