<!doctype html>
<html lang="en">

{% include 'head.html' %}

<body lang="en">

{% include 'navbar.html' %}

<div class="container">

    <div class="row mt-2 mb-2 ">
        <div class="col-sm-6 mt-2">
            <div class="row mt-2">
                <div class="col-sm-4 mt-2">
                    <select class="form-select form-select-md" aria-label=".form-select-md example" id="example_select">
                        <option selected>Select example</option>
                        <option value="static/examples/triangle-tire.json">triangle-tire</option>
                        <option value="static/examples/acrobatics.json">acrobatics</option>
                        <option value="static/examples/beam-walk.json">beam-walk</option>
                        <!--                    <option>4</option>-->
                        <!--                    <option>5</option>-->
                    </select>
                </div>
                <div class="col-sm-4 mt-2">
                    <select class="form-select form-select-md" aria-label=".form-select-md example" id="planner_select">
                        <option value="fondsat" selected>FOND-SAT Planner</option>
                        <option value="mynd">MyND Planner</option>
                        <option value="prp">PRP Planner</option>
                        <!--                    <option>4</option>-->
                        <!--                    <option>5</option>-->
                    </select>
                </div>
                <div class="col-sm-4 mt-2">
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btncyclic" autocomplete="off" checked>
                        <label class="btn btn-outline-primary" for="btncyclic">Strong-Cyclic</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnstrong" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnstrong">Strong</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mt-2">
            <div class="row mt-2">
                <div class="col-sm-4 mt-2">
                    <div class="d-grid">
                        <button name="tool_compile" type="button" form="my_form" id="tool_compile"
                                class="btn btn-primary" role="button">Compile
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-gear-fill" viewBox="0 0 16 16">
                                <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="col-sm-4 mt-2">
                    <div class="d-grid">
                        <button name="tool_execute" type="button" form="my_form" id="tool_execute"
                                class="btn btn-primary" role="button">Compile + Plan
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-lightning-charge-fill" viewBox="0 0 16 16">
                                <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"/>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="col-sm-4 mt-2">
                    <div class="d-grid">
                        <a type="button" id="download" class="btn btn-primary" role="button"
                           href="/download" disabled>Download
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-file-earmark-arrow-down-fill" viewBox="0 0 16 16">
                                <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zm-1 4v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 11.293V7.5a.5.5 0 0 1 1 0z"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="toast position-fixed bottom-0 end-0 p-3" id="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">FOND Planning for LTL<sub>f</sub> - PLTL<sub>f</sub></strong>
            <small>now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="toast-body">
        </div>
    </div>

</div>
<div class="container-fluid">

    {% include 'tool.html' %}

</div>

</body>


<!-- Optional JavaScript here for fast loading. Order is IMPORTANT -->
<!-- jQuery first, then Ajax, then Popper.js/Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

<script src="//d3js.org/d3.v5.min.js"></script>
<script src="https://unpkg.com/@hpcc-js/wasm@0.3.11/dist/index.min.js"></script>
<script src="https://unpkg.com/d3-graphviz@3.0.5/build/d3-graphviz.js"></script>

<!--<script src="{{ url_for('static', filename='js/src-min-noconflict/ace.js') }}" type="text/javascript"-->
<!--        charset="utf-8"></script>-->

<!--<script src="{{ url_for('static', filename='js/web-planner.js') }}" type="text/javascript"-->
<!--        charset="utf-8"></script>-->

<script src="{{ url_for('static', filename='js/require.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}" type="text/javascript"
        charset="utf-8"></script>

<!--<script type="text/javascript">-->
<!--    $(document).ready(function () {-->
<!--        // Bootstrap popovers-->
<!--        $('#formula-popover').popover({-->
<!--            // trigger: " click",-->
<!--            html: true,-->
<!--            sanitize: false,-->
<!--            title: "How to write formulas?",-->
<!--            content: "Look at the LTL<sub>f</sub>2DFA tool <b>syntax</b>/<b>semantics</b> <a href='http://ltlf2dfa.diag.uniroma1.it/#syntax' target='_blank'>here</a>. <br>" +-->
<!--                "Symbols correspond to grounded predicates in PDDL and objects are separated by an \"_\". <br>" +-->
<!--                "<b> predicateName_obj1_obj2_..._objN</b>" +-->
<!--                "<br> E.g. " +-->
<!--                "<ul><li>vehicleat(l23) becomes vehicleat_l23</li><li>on(a1, a2) becomes on_a1_a2</li></ul>"-->
<!--        });-->
<!--        $('#problem-popover').popover({-->
<!--            // trigger: " click",-->
<!--            html: true,-->
<!--            sanitize: false,-->
<!--            title: "Note",-->
<!--            content: "The <b>:goal</b> in the PDDL problem is completely ignored in the compilation process."-->
<!--        });-->

</html>
