<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light border">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><b>FOND Planning for LTL<sub>f</sub>/PLTL<sub>f</sub></b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#usageModal" data-bs-toggle="modal" data-bs-target="#usageModal">Usage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#apiModal" data-bs-toggle="modal" data-bs-target="#apiModal">API</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#aboutModal" data-bs-toggle="modal" data-bs-target="#aboutModal">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Usage Modal -->
<div class="modal fade" id="usageModal" tabindex="-1" aria-labelledby="usageModalLabel" aria-hidden="true">
    <div class="modal-lg modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="usageModalLabel">Usage</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="text-justify">
                    The <b>FOND Planning for LTL<sub>f</sub></b> web service is developed to allow
                    interactions through both this graphical user interface and RESTful APIs.
                </p>

                <h5>Input</h5>
                <p class="text-justify">
                    The application requires the user to provide the PDDL domain, the PDDL problem and
                    an LTL<sub>f</sub>/PLTL<sub>f</sub> goal. The user can either directly write them with the given
                    editors or can use a preloaded working example from renown domain models.
                </p>
                <p class="text-justify">
                    Formulas can be specified with the LTL<sub>f</sub>2DFA tool syntax/semantics
                    <a href='http://ltlf2dfa.diag.uniroma1.it/#syntax' target='_blank'>here</a>.
                    Formula symbols correspond to grounded predicates in PDDL and objects are separated by an <i>underscore</i>,
                    i.e., <code>predicateName_obj1_obj2_..._objN</code>. For instance, <code>vehicleat(l23)</code> becomes
                    <code>vehicleat_l23</code> and <code>on(a1, a2)</code> becomes <code>on_a1_a2</code>. Also, note
                    that the PDDL goal specified in the PDDL problem will be completely ignored.
                </p>
                <h5>Output</h5>
                <p class="text-justify">
                    The web service allows two main options: <b>Compile</b> and <b>Compile + Plan</b>.
                    The former compiles FOND domain models with LTL<sub>f</sub>/PLTL<sub>f</sub> goals into standard
                    FOND planning problems.
                    The latter, instead, first performs the compilation just described and then calls an off-the-shelf
                    FOND Planner to find a policy for the planning problem.
                </p>
                <p class="text-justify">
                    In case the user executes <b>Compile + Plan</b>, the user can choose among three different
                    state-of-the-art planners, i.e., <i>FOND-SAT, MyND</i> and <i>PRP</i>. Additionally, based on the chosen planner,
                    the user can also decide to ask for <i>strong-cyclic</i> or <i>strong</i> policies.
                    <br>
                    <i>FOND-SAT</i> and <i>Strong-cyclic</i> are set as default.
                </p>

                <p class="text-justify">
                    The output of the <b>Compile</b> execution is under the <i>Output Compilation</i> tab. There, you
                    can find two editors containing the compiled PDDL domain and problems plus the Graphviz
                    representation of the DFA for the temporal formula.
                </p>
                <p class="text-justify">
                    Finally, the output of the <b>Compile + Plan</b> execution is under the <i>Output Policy</i> tab.
                    There, you can find both a textual and a graphical representation of the policy output from the
                    planner.
                    The user can also download everything using the related button.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <!--        <button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>
    </div>
</div>

<!-- API Modal -->
<div class="modal fade" id="apiModal" tabindex="-1" aria-labelledby="apiModalLabel" aria-hidden="true">
    <div class="modal-lg modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="apiModalLabel">API</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="text-justify">
                    <b>FOND Planning for LTL<sub>f</sub></b> exposes its main functionalities via
                    RESTful
                    APIs. Here, you can find their documentation.
                </p>

                <!--                <h5>Base URL</h5>-->
                <!--                <p class="text-justify">-->
                <!--                    The base URL is <a href="http://fond4ltlfpltl.diag.uniroma1.it/api/">http://fond4ltlfpltl.diag.uniroma1.it/api/</a>-->
                <!--                </p>-->

                <h5>APIs Description</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <b>Healthcheck, URL: <code>/api</code></b>
                        <br>
                        <b>Method:</b> GET <br>
                        <b>Description:</b> Returns the health of the API service.<br>
                        <p>
                            <button class="btn btn-success btn-sm dropdown-toggle" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseExample1" aria-expanded="false"
                                    aria-controls="collapseExample">
                                Response
                            </button>
                        </p>
                        <div class="collapse" id="collapseExample1">
                            <div class="card card-body">
                                <pre>{}</pre>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <b>Versions, URL: <code>/api/versions</code></b>
                        <br>
                        <b>Method:</b> GET <br>
                        <b>Description:</b> Returns the versions of tools used.<br>
                        <p>
                            <button class="btn btn-success btn-sm dropdown-toggle" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseExample0" aria-expanded="false"
                                    aria-controls="collapseExample">
                                Response
                            </button>
                        </p>
                        <div class="collapse" id="collapseExample0">
                            <div class="card card-body">
                                <pre>
[
   [
      "Mona",
      "1.4-18",
      "https://www.brics.dk/mona/"
   ],
   [
      "Graphviz",
      "2.43.0",
      "https://graphviz.org/"
   ],
   [
      "Python",
      "3.7.5",
      "https://www.python.org/"
   ],
   [
      "Flask",
      "2.0.1",
      "https://flask.palletsprojects.com/en/2.0.x/"
   ],
   [
      "FOND4LTLf",
      "0.0.2",
      "https://github.com/whitemech/fond4ltlf"
   ],
   [
      "LTLf2DFA",
      "1.0.1",
      "https://github.com/whitemech/ltlf2dfa"
   ]
]</pre>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <b>Compile, URL: <code>/api/compile</code></b>
                        <br>
                        <b>Method:</b> POST <br>
                        <b>Description:</b> Given a PDDL domain and problem and an LTL<sub>f</sub>/PLTL<sub>f</sub> goal
                        formula, returns the compiled domain and problem and the DFA.<br>
                        <p>
                            <button class="btn btn-warning btn-sm dropdown-toggle" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseExample2-0" aria-expanded="false"
                                    aria-controls="collapseExample">
                                Request
                            </button>
                            <button class="btn btn-success btn-sm dropdown-toggle" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseExample2" aria-expanded="false"
                                    aria-controls="collapseExample">
                                Response
                            </button>
                        </p>
                        <div class="collapse" id="collapseExample2-0">
                            <div class="card card-body">
                                <pre>{
   "form_goal": "...",
   "form_pddl_domain_in": "(define (domain ...",
   "form_pddl_problem_in": "(define (problem  ...",
}</pre>
                            </div>
                        </div>
                        <div class="collapse" id="collapseExample2">
                            <div class="card card-body">
                                <pre>{
   "dfa": "digraph ...",
   "elapsed_time": "0.184 ...",
   "form_pddl_domain_out": "(define (domain ...",
   "form_pddl_problem_out": "(define (problem ...",
   "formula": "..."
}</pre>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <b>Compile and Plan, URL: <code>/api/plan</code></b>
                        <br>
                        <b>Method:</b> POST <br>
                        <b>Description:</b> Given a PDDL domain and problem and an LTL<sub>f</sub>/PLTL<sub>f</sub> goal
                        formula, returns the compiled domain, compiled problem, the DFA and the policy if exists.<br>
                        <p>
                            <button class="btn btn-warning btn-sm dropdown-toggle" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseExample3-0" aria-expanded="false"
                                    aria-controls="collapseExample">
                                Request
                            </button>
                            <button class="btn btn-success btn-sm dropdown-toggle" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseExample3" aria-expanded="false"
                                    aria-controls="collapseExample">
                                Response
                            </button>
                        </p>
                        <div class="collapse" id="collapseExample3-0">
                            <div class="card card-body">
                                <pre>{
   "form_goal": "...",
   "form_pddl_domain_in": "(define (domain ...",
   "form_pddl_problem_in": "(define (problem  ...",
   "planner": "{fondsat, mynd, prp}",
   "policy_type": "{0, 1}"
}</pre>
                            </div>
                        </div>
                        <div class="collapse" id="collapseExample3">
                            <div class="card card-body">
                                <pre>{
   "dfa":"digraph ...",
   "elapsed_time":"3.228 ...",
   "error":"",
   "form_pddl_domain_out":"(define (domain ...",
   "form_pddl_problem_out":"(define (problem ...",
   "formula":"...",
   "policy_dot":"digraph ...",
   "policy_found":true,
   "policy_txt":"..."
}</pre>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <b>Download, URL: <code>/api/download</code></b>
                        <br>
                        <b>Method:</b> GET <br>
                        <b>Description:</b> Download the produced files.<br>
                    </li>
                </ul>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <!--        <button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>
    </div>
</div>


<!-- About Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" aria-labelledby="aboutModalLabel" aria-hidden="true">
    <div class="modal-xl modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="aboutModalLabel">About</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="text-justify">
                    <b>FOND Planning for LTL<sub>f</sub> - PLTL<sub>f</sub></b> is a tool that compiles Fully Observable
                    Non-Deterministic domain models with temporally extended goals, specified either in LTL<sub>f</sub>
                    or in PLTL<sub>f</sub>, into standard FOND planning problems and computes the policy, if it exists,
                    with publicly available off-the-shelf FOND planners.
                </p>

                <h5>Citing</h5>
                <p class="text-justify">
                    If you are interested in this tool, and you use it in your own work, please consider citing it.<br>
                    <a href="https://doi.org/10.5281/zenodo.4876281"><img
                            src="https://zenodo.org/badge/DOI/10.5281/zenodo.4876281.svg" alt="DOI"></a>
                </p>
                <h5>License</h5>
                <p class="text-justify">
                    <b>FOND Planning for LTL<sub>f</sub></b> is licensed under the GNU Lesser General
                    Public License v3 or later License
                    (<a target="_blank" href="https://www.gnu.org/licenses/lgpl-3.0.html">LGPLv3+</a>).
                </p>

                <!--                <h5>Author</h5>-->
                <!--                <p class="text-justify">-->
                <!--                    <b>FOND Planning for LTL<sub>f</sub> - PLTL<sub>f</sub></b> is developed and maintained by <a-->
                <!--                        target="_blank"-->
                <!--                        href="https://francescofuggitti.github.io/">Francesco-->
                <!--                    Fuggitti</a>.-->
                <!--                </p>-->

                <h5>Acknowledgments</h5>
                <p class="text-justify">
                    This project (&copy 2018-
                    <script>document.write(new Date().getFullYear())</script>
                    ) is proudly funded by the
                    <a target="_blank" href="https://whitemech.github.io">ERC Advanced Grant WhiteMech</a> no.834228 and
                    the EU ICT-48 2020 project <a target="_blank" href="https://tailor-network.eu">TAILOR</a>
                    no.952215.
                </p>

                <h5>Credits</h5>
                <p class="text-justify">
                    This website is made with <a target="_blank" href="https://flask.palletsprojects.com">Flask</a>, <a
                        target="_blank" href="https://getbootstrap.com/">Bootstrap 5</a> and <a target="_blank"
                                                                                                href="https://github.com/magjac/d3-graphviz">D3
                    Graphviz</a>. We used the <a target="_blank" href="https://ace.c9.io/">Ace</a> project for the PDDL
                    editor and <a target="_blank" href="http://editor.planning.domains/">editor.planning.domains</a> for
                    the PDDL syntax and snippets. The project also depends on <a target="_blank"
                                                                                 href="http://ltlf2dfa.diag.uniroma1.it/">LTL<sub>f</sub>2DFA</a>,
                    <a target="_blank" href="https://www.brics.dk/mona/">MONA</a> and <a target="_blank"
                                                                                         href="https://graphviz.org/">Graphviz</a>.
                </p>

                <h5>References</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <b>Pure-Past Linear Temporal and Dynamic Logic on Finite Traces</b>
                        <br>
                        De Giacomo, G.; Di Stasio, A.; Fuggitti, F.; Rubin, S.<br>
                        In IJCAI, Survey Track, 2020.
                    </li>
                    <li class="list-group-item">
                        <b>LTL and Past LTL on Finite Traces for Planning and Declarative Process Mining</b>
                        <br>
                        Fuggitti F. <br>
                        In M.Sc. Thesis. Sapienza University of Rome, 2018
                    </li>
                    <li class="list-group-item">
                        <b>Compact Policies for Fully Observable Non-Deterministic Planning as SAT</b>
                        <br>
                        Geffner, T. and Geffner, H.<br>
                        In ICAPS, 2018.
                    </li>
                    <li class="list-group-item">
                        <b>Linear Temporal Logic and Linear Dynamic Logic on Finite Traces</b>
                        <br>
                        De Giacomo, G. and Vardi, M. Y.<br>
                        In IJCAI, 2013.
                    </li>
                    <li class="list-group-item">
                        <b>Improved Non-deterministic Planning by Exploiting State Relevance</b>
                        <br>
                        Muise, C.; McIlraith, S.; Beck, C. J.<br>
                        In ICAPS, 2012
                    </li>
                    <li class="list-group-item">
                        <b>Pattern Database Heuristics for Fully Observable Nondeterministic Planning</b>
                        <br>
                        Robert Mattm&uuml;ller, R.; Ortlieb, M.; Helmert, M.; Bercher, P.<br>
                        In ICAPS, 2010.
                    </li>
                </ul>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <!--        <button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>
    </div>
</div>